@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    University of Washington<br />
    Tacoma, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    206-778-4242
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Busap@uw.edu">Busap@uw.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:ChanbernaSrey@uw.edu">Chanbernasre@uw.edu</a>
</address>